body {
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	margin: 0rem;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

h1 {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 120px;
	font-weight: 300;
	line-height: 130px;
}

h2 {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 4.5em;
	font-weight: 300;
	line-height: 1.1em;
}

h3 {
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 2.6em;
	font-weight: 300;
	line-height: 1.1em;
}

h4 {
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 2.2em;
	font-weight: 300;
	line-height: 1.2em;
}

audio,
canvas,
progress,
video {
	vertical-align: baseline;
	display: inline-block;
}

video {
	object-fit: contain;
	overflow-clip-margin: content-box;
	overflow: clip;
}

p {
	margin-bottom: 10px;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	margin-top: 0rem;
}

em {
	font-weight: 500;
}

img {
	max-width: 100%;
	vertical-align: middle;
	display: inline-block;
	border: 0;
}

.section {
	z-index: 2;
	background-color: #070707;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 4%;
	display: flex;
	position: relative;
}

.x-large-paragraph {
	font-size: 4em;
	line-height: 1.2em;
}

.large-paragraph {
	font-size: 2.6em;
	line-height: 1.3em;
}

.cta-arrow-leg {
	width: 25px;
	height: 3px;
	background-color: #fff;
	position: relative;
}

.arrow-wing,
.arrow-wing_2 {
	width: 15px;
	height: 3px;
	background-color: #fff;
	position: absolute;
	top: 0%;
	bottom: auto;
	left: auto;
	right: 0%;
	transform: translate(3px, -5px) rotate(43deg);
}

.arrow-wing_2 {
	transform: translate(3px, 4px) rotate(-43deg);
}

@media (max-width: 991px) {
	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	p {
		padding-left: 0%;
	}

	h3 {
		font-size: 1.8em;
		line-height: 1em;
	}
}

@media (max-width: 767px) {
	.section {
		padding: 40px 1.8rem;
	}

	.x-large-paragraph {
		font-size: 32px;
		line-height: 44px;
	}

	.large-paragraph {
		font-size: 24px;
		line-height: 34px;
	}

	h2 {
		font-size: 48px;
		line-height: 60px;
	}

	p {
		font-size: 16px;
		line-height: 30px;
	}

	h3 {
		font-size: 24px;
		line-height: 32px;
	}
}

@media (max-width: 479px) {
	.x-large-paragraph {
		font-size: 30px;
		line-height: 42px;
	}

	h2 {
		font-size: 40px;
		line-height: 54px;
	}
}
