.feature {
	border-top: 2px solid rgba(255, 255, 255, 0.4);
	border-bottom: 2px rgba(255, 255, 255, 0.4);
	justify-content: space-between;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: flex;
	position: relative;
	grid-area: span 1 / span 3 / span 1 / span 3;
}

.feature:hover .feature-name-wrap {
	transform: translateX(20px);
}

.first {
	margin-top: 60px;
}

.feature-name-wrap {
	align-items: center;
	display: flex;
	transition: transform 250ms ease-out;
}

.name {
	margin: 0 30px;
	transform-style: preserve-3d;
}

.description {
	width: 40%;
	font-size: 24px;
	line-height: 30px;
}

.image {
	z-index: 5;
	width: 450px;
	height: 300px;
	background-position: 50%;
	background-size: cover;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	transform: translate(20rem);
}

@media (max-width: 991px) {
	.feature {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	.description {
		width: 50%;
		font-size: 20px;
	}

	.image {
		width: 300px;
		height: 200px;
	}
}

@media (max-width: 767px) {
	.feature {
		flex-direction: column;
	}

	.description {
		width: 100%;
	}

	.image {
		width: 100%;
		height: 250px;
		margin-top: 1rem;
		position: static;
		transform: none;
	}
}

@media (max-width: 479px) {
	.image {
		height: 220px;
	}
}
